@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.container {
    width: 55%;
    margin: 0 auto;
}

header {
    color : #3d3b3b;
    padding-top: 10px;
    top: 100px;
    font-size: 70px;
}


body {
    margin: 0;
    background: #dbe0e5;
    font-family: 'Work sans,', sans-serif;
    font-size: 16px;

    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

nav{
    display: flex;
    position: relative;
    top: 0;
    height: 80px;
    width: 100%;
    background-color: #f44336;
    overflow: auto;
    height: auto;
}

.left-links {
    flex:1 1 200px;
}

.links {
    display: inline-block;
    text-align: center;
    padding: 14px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 17px;
    font-weight: bolder;
}
.links:hover {
    border-bottom: 2px solid #1d2624;
}
.selectedContainer{
    border-bottom: 2px solid #1d2624;
}

.stockPortfolioHeader {
    font-size: 18px;
    position: relative;
    top: 35px;
    left: 60px;
}

.tableWrapper {
    position: relative;
    top: 0px;
    right: 550px;
}

table,
form {
    width: 500px;
    margin: 20px auto;
}
table {
    border-collapse: collapse;
    text-align: center;
}
table td,
table th {
    background-color: #04AA6D;
    color: #ffffff;
    text-align: left;
    border: solid 1px black;
}
label,
input {
    color: #3d3b3b;
    display: block;
    margin: 10px 0;
    font-size:20px;
}

button {
    align-items: center;
    background-color: #04AA6D;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

.button:hover,
.button:focus {
    background-color: #16437E;
    color: #ffffff;
}

.button:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}

.button:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}


.styled-table {
    position: relative;
    left: 60px;
    top: 35px;
    border-collapse: collapse;
    padding-left: 20px;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.selectedContainer{
    left: 1000px;
    top:50px;
    margin-top: 100px;
    padding: 32px;
    width: 400px;
}

.selectBox {
    display: flex;
    width: 400px;
    flex-direction: column;
}

.selectBox .options-container {
    background: #04AA6D;
    color: #f5f6fa;
    max-height: 0;
    width: 70%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;

    order: 1;
}

.selectedContainer {
    background: #04AA6D;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;

    order: 0;
}

.selectedContainer::after {
    content: "";
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;

    transition: all 0.4s;
}

.selectBox .options-container.active {
    color : #ffffff;
    max-height: 500px;
    opacity: 1;
    overflow-y: scroll;
}

.selectBox .options-container.active + .selectedContainer::after {
    transform: rotateX(180deg);
    top: -6px;
}

.selectBox .options-container::-webkit-scrollbar {
    width: 8px;
    background: #04AA6D;
    border-radius: 0 8px 8px 0;
}

.selectBox .options-container::-webkit-scrollbar-thumb {
    background: #04AA6D;
    border-radius: 0 8px 8px 0;
}

.selectBox .option,
.selectedContainer {
    padding: 12px 24px;
    cursor: pointer;
}

.selectBox .option:hover {
    background: #04AA6D;
}

.selectBox label {
    cursor: pointer;
}

.selectBox .option .radio {
    display: none;
}


.wrapper {
    left:50px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.searchBoxWrapper {

    left:50px;
    bottom: 70px;
    position: relative;
    width: 350px;
    height: 60px;
}

.searchBoxWrapper .searchBox {
    width: 100%;
    height: 60px;
    font-size: 25px;
}

.searchBoxWrapper .searchBox .inputsearch {
    position: absolute;
    width: 100%;
    border: 0;
    height: 60px;
    padding: 12px 25px;
    padding-right: 70px;
    font-size: 16px;
    border-radius: 35px;
    transition: all 0.2s ease;
}

.search-wrapper {
    position: fixed;
    right: 67%;
    top: 12%;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

input {
    font-size: 1rem;
}

.user-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
}

.card {
    border: 1px solid black;
    background-color: white;
    padding: .5rem;
}

.card > .header {
    margin-bottom: .25rem;
}

.card > .body {
    font-size: .8rem;
    color: #777;
}

.hide {
    display: none;
}

#chartdiv {
    width: 1000px;
    height: 500px;
}
